* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 575px) {
    .mobile-100 {
        height: 100vh;
        padding-left: 2vw !important;
        padding-right: 2vw !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        font-size: 6vw;
        text-align: justify;
    }

    .mobile-padding {
        padding: 0;
    }

    .mobile-buttons {
        font-size: 5vw;
    }

    .mobile-bsas {
        max-height: 100vh !important;
        object-fit: cover !important;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-lg {
        height: 122.5vh !important;
    }
}

.h1-color h1 {
    color: #000000;
}

#headerimg {
    background-image: url('../img/ba3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* set to cover to properly scale img */
    padding-bottom: 56.25%;
    /* height/width*100 */
}

.floater {
    background: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    padding-top: 15%;
    padding-left: 35%;
}

.dotted {
    border-bottom: 0.125rem dotted;
}

.input-area1 {
    outline: 0;
    border: 0.0625rem solid #B5C4CD;
    color: #879299;
    font-size: 1rem;
}

.input-area2 {
    outline: 0;
    border: 0.0625rem solid #B5C4CD;
    color: #879299;
    font-size: 1rem;
}

.comments-area {
    outline: 0;
    border: 0.0625rem solid #B5C4CD;
    color: #879299;
    font-size: 1.625rem;
}

.footer {
    background-color: rgb(38, 75, 117);
}

.footer ul {
    list-style-type: none;
}

.footer li {
    border-top: 0 none;
    border-style: none;
}

.list-group-item-mine {
    background-color: rgb(38, 75, 117);
}